/* Stylesheet for tablet size*/

@charset "utf-8";

/* Import stylesheet */
@import "mobile.css";

#brand img {
	float: left;
	}

#specialize {
	position: relative;
	top: 100px;
	right: 20px;
	}

#about {
	margin-top: 50px;
	}

#navigation {
	clear: both;}

#lfooter {
	text-align: left;
	float: left;
	padding-left: 10px;}

#content {
	margin-left: 15%;
	width: 75%;
	text-align: center;}

#rfooter {
	text-align: right;
	padding-right: 10px;}

#footer {
	height: 15px;
	width: 100%;
	position: relative;
	bottom: -70px;
	}

#innernav {
	color: black;
	font-family: "Baskerville";
	width: 15%;
	margin-left: 15px;
	margin-top: ;
	float:left;
	}

#innernav p{
	background-color: rgba(265,265,265,0.8);
	padding: 10px;
	margin-left: 0;
	margin-right: 0;
	}

#container {
	background-image: url("../images/beach.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 30px;
	}
